body{
	border: 20px solid #bcd3c7;
  /*margin:10px 250px 10px 250px; this will work same for centralising the body*/
	max-width:700px;
	width: 80%;
	margin: 20px auto;
	padding:20px 20px 20px 20px;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
}
p:nth-of-type(1){
     border-left: 5px solid #bcd3c7;
     padding: 5px;
}
p:nth-of-type(4){
     border-left: 5px solid #bcd3c7;
     padding: 5px;
}
h4{
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: .2rem;
}
/*h4:nth-of-type(2){
	border-top: 2px solid #bcd3c7;
}*/
